<html>
  <head>
    <title>Listeler</title>
  </head>
  <body>
    <div>
        <h1>{{listname}}</h1>
      <ul>
        <li *ngFor="let product of products">{{product.productName}}</li>
      </ul>
    </div>  
  </body>
</html>
  

